In [1]:
import numpy as np 
import matplotlib.pyplot as plt 
import pandas as pd 
from sklearn.linear_model import Ridge
from sklearn.linear_model import RidgeCV
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
import csv
from pylab import *
from patsy import dmatrices
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

# 数据导入后交换year与响应变量（湖北成绩）的顺序以便后续操作

In [2]:
df01=pd.read_excel('wenke1ben.xls')

In [3]:
cols = list(df01)
cols.insert(0,cols.pop(cols.index('hubei')))

In [4]:
df01 = df01.loc[:,cols]

In [5]:
df010 = df01.drop(index = 0)
df011 = df01[0:1]

In [6]:
df010

    hubei  year  henan  shanxi  jiangxi  hunan  anhui
1     542  2019    536     545      558    553    550
2     561  2018    547     546      568    569    550
3     528  2017    516     518      533    548    515
4     520  2016    517     518      523    530    521
5     521  2015    513     513      528    535    597
6     535  2014    536     526      524    562    541
7     531  2013    519     507      532    557    540
8     561  2012    557     539      570    571    577
9     547  2011    562     543      532    583    547
10    530  2010    532     533      521    578    573

# 交叉验证，选择合适的$\alpha$

In [7]:
# make response (ys) and predictors (xs)
xs = df010.iloc[:,1:]
ys = df010.iloc[:,0]

In [8]:
xs

    year  henan  shanxi  jiangxi  hunan  anhui
1   2019    536     545      558    553    550
2   2018    547     546      568    569    550
3   2017    516     518      533    548    515
4   2016    517     518      523    530    521
5   2015    513     513      528    535    597
6   2014    536     526      524    562    541
7   2013    519     507      532    557    540
8   2012    557     539      570    571    577
9   2011    562     543      532    583    547
10  2010    532     533      521    578    573

In [9]:
###Selecting lambda
scaler=StandardScaler()
X_std=scaler.fit_transform(xs)

# 通过交叉验证来
regr_cv=RidgeCV(alphas=np.arange(0.1,5,0.1))

model_cv=regr_cv.fit(X_std,ys)

# 输出最佳的alpha
print(model_cv.alpha_)

C:\Users\dyw2000\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\dyw2000\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

0.2

# 利用最佳的$\alpha$进行岭回归，并进行预测

In [10]:
#预测
def predict(data,LinearRegression):
    Y_pred = LinearRegression.predict(data)
    print(Y_pred)
    return Y_pred
 
#训练模型
def reg_model(data,label,test):
    regr = Ridge(alpha=0.2)   #岭回归
    regr.fit(data,label)
    Y_pred_train = regr.predict(data)   #训练集的预测值
    predict(test,regr)  #预测
    print('参数：',regr.coef_.astype(np.float32))    
    
#对模型进行评估   
    print("MSE:",mean_squared_error(label,Y_pred_train))  #误差
    print("MAE:",mean_absolute_error(label,Y_pred_train))
    print("R2:",r2_score(label,Y_pred_train))

In [11]:
xs1 = df011.iloc[:,1:]
X_test=scaler.transform(xs1)

C:\Users\dyw2000\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.

In [12]:
reg_model(X_std,ys,X_test)

[549.24247046]
参数： [ 1.7524482   6.962266   -2.5879858   7.9202285   4.3845596  -0.19438437]
MSE: 2.719031019724451
MAE: 1.1976879235736988
R2: 0.9863255329927356