In [1]:
import numpy as np 
import matplotlib.pyplot as plt 
import pandas as pd 
from sklearn.linear_model import Ridge
from sklearn.linear_model import RidgeCV
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
import csv
from pylab import *
from patsy import dmatrices
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

In [2]:
df01=pd.read_excel('wenke2ben.xls')

In [3]:
cols = list(df01)
cols.insert(0,cols.pop(cols.index('hubei')))

In [4]:
df01 = df01.loc[:,cols]

In [5]:
df010 = df01.drop(index = 0)
df011 = df01[0:1]

In [6]:
df011

,hubei,year,henan,shanxi,jiangxi,hunan,anhui,shandong,guangdong,hebei,fujian
0,426,2020,465,469,488,526,499,503.0,430.0,465,465

In [7]:
xs=df010[['year','henan','shanxi','jiangxi','hunan','anhui','hebei','fujian']]                         
ys=df010.hubei

In [8]:
ys

1     445
2     441
3     406
4     403
5     477
6     482
7     480
8     515
9     507
10    488
Name: hubei, dtype: int64

In [9]:
###Selecting lambda
scaler=StandardScaler()
X_std=scaler.fit_transform(xs)

# 通过交叉验证来
regr_cv=RidgeCV(alphas=np.arange(0.1,10,0.1))

model_cv=regr_cv.fit(X_std,ys)

# 输出最佳的alpha
print(model_cv.alpha_)

6.5

C:\Users\dyw2000\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\dyw2000\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [10]:
#预测
def predict(data,LinearRegression):
    Y_pred = LinearRegression.predict(data)
    print(Y_pred)
    return Y_pred
 
#训练模型
def reg_model(data,label,test):
    regr = Ridge(alpha=6.5)   
    #regr = Lasso(alpha=1)  #Lasso回归
    regr.fit(data,label)
    Y_pred_train = regr.predict(data)   #训练集的预测值
    predict(test,regr)  #预测
    print('参数：',regr.coef_.astype(np.float32))    
    
#对模型进行评估   
    print("MSE:",mean_squared_error(label,Y_pred_train))  #误差
    print("MAE:",mean_absolute_error(label,Y_pred_train))
    print("R2:",r2_score(label,Y_pred_train))

In [11]:
xs1 = df011[['year','henan','shanxi','jiangxi','hunan','anhui','hebei','fujian']]   
X_test=scaler.transform(xs1)

C:\Users\dyw2000\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.

In [12]:
xs1

   year  henan  shanxi  jiangxi  hunan  anhui  hebei  fujian
0  2020    465     469      488    526    499    465     465

In [13]:
reg_model(X_std,ys,X_test)

[397.99726384]
参数： [-10.321971    5.347257    1.8415264   5.8012676   1.5235004   2.7567067
   6.0891895   5.0328364]
MSE: 164.08331909921682
MAE: 10.429679716989114
R2: 0.8806527893433296